
/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html{
    box-sizing: border-box;
}


*,*:before,*:after{
    box-sizing: inherit;
}



/*----------------------------------------------------------------------------
    Base
----------------------------------------------------------------------------*/

body{

    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    color:#545454;
}

a{
    text-decoration: none;
}


/*
    font-family: 'Noticia Text', serif;*/

/*----------------------------------------------------------------------------
    Structure
----------------------------------------------------------------------------*/

.wrapper{

    width:1280px;
    margin: 0 auto;
}

.margin-top{
    margin-top:30px;
}


.margin-bottom{

    margin-bottom:30px;

}

/*----------------------------------------------------------------------------
    Modules
----------------------------------------------------------------------------*/

.logo{

    display:flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    margin-right:10px;
}

nav.princ ul {
    display:flex;
    list-style:none;
    justify-content: space-between;

    border-top:1px solid #f4f4f4;
    border-bottom:1px solid #f4f4f4;

    margin:0;
    padding:0;
}

nav.princ li {

    display:flex;
    flex-grow:1;


}

nav.princ a{
    display:flex;
    justify-content: center;
    flex-grow:1;

    padding: 10px 0;
}

nav.princ a:hover {
    background-color:#f4f4f4;
}


section.hero {


    display:flex;
    align-items: flex-start;

    margin-top:35px;


}

section.hero img {


    width:33.3333%;

}

section.infos{

    display:flex;
    justify-content: space-between;


}

.infos article {
    width:350px;
}

.infos td:nth-child(1) , .infos td:nth-child(2){

    font-weight:bold;

}




footer{
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    background:#f4f4f4;
}


.flex-footer {

    display:flex;
    justify-content: space-between;
    align-items: center;


}


footer nav ul{

    list-style: none;
    display:flex;
    justify-content:space-between;


}

footer nav ul li {
    margin-left:15px;
}

footer nav ul a {

    border:2px solid #545454;
    border-radius:50%;

    display:flex;
    justify-content: center;
    align-items:center;

    width:36px;
    height:36px;

    transition: background-color 0.4s ;


}

footer nav a:hover {
    color:#fff;
    background: #545454;
}